NEXTCLOUD_PORT=8090
NEXTCLOUD_STORAGE_ROOT=D:/NextcloudData
NEXTCLOUD_TRUSTED_DOMAINS=localhost 127.0.0.1 172.16.11.220
NEXTCLOUD_DB_PASSWORD=change-this-db-password
NEXTCLOUD_DB_ROOT_PASSWORD=change-this-root-password
